<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "BUSINESSCARD"
        version     = "1.1.0" >

    <name>BUSINESSCARD</name>
    <description>BUSINESSCARD</description>

	<platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/android/image1.png" density="land-hdpi"/>
	<icon src="res/android/icon1.jpg" density="ldpi" />
	</platform>
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="SplashMaintainAspectRatio" value="true" />
	<preference name="SplashShowOnlyFirstTime" value="false" />
	<preference name="SplashScreenSpinnerColor" value="white" />
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
</widget>
